.top-bar {
  background-color: $nav-bg;
  padding: 15px;

  ul {
    background-color: transparent;
  }

  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a{
    display: inline;
    padding: 0;
  }

}
